.form {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid rgb(129, 129, 129);
	border-radius: 3px;
	padding: 2em;
	background-color: #eef0f2;
}

.form-div {
	margin-top: 3em;
}

#submit-button {
	margin-top: 0.5em;
	padding: 0.7em 3em;
	background-color: white;
	border: 1px solid #243b4a;
	border-radius: 5px;
	color: #293850;
}

.submit-button-div {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #a2a8aa;
}

#submit-button:hover {
	background-color: #243b4a;
	border: 1px solid 243b4a;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: all 0.7s ease 0s;
}

.form > div {
	display: flex;
	flex-direction: column;
	margin-top: 0.6em;
	font-size: 1em;
	color: #293850;
}
.form > div > input {
	margin-top: 0.5em;
	padding: 0.5em;
	border: 1px solid rgb(134, 134, 134);
	border-radius: 5px;
}

.form-file-input {
	margin-top: 1em;
	padding: 0;
}

.file-input-label {
	background-color: #243b4a;
	padding: 0.5em;
	color: #fafaf8;
	text-align: center;
	border: 1px solid #243b4a;
	border-radius: 5px;
	cursor: grab;
}

.file-input-div {
	display: flex !important ;
	flex-direction: row !important ;
	align-items: baseline !important;
}

.file-input-info {
	margin-left: 0.3em;
}
